*{
    margin: 0;
    padding: 0;
}
body{
    background: rgba(25, 168, 212, 0.322);
}
#box-upper{    
    background: url(https://media.giphy.com/media/YmzO3P2e4qYkitoVcF/giphy.gif)
}
.box input,button{
    padding: 10px;
    border-radius: 50px;
}
#para {
    font-family:cursive;
    font-size:25px;
    color: rgb(158, 0, 0);
}
#para h1{
    width: 0%;
}
img:hover{
    transform: rotate(360deg);
}
/* #api{
    background: rgba(223, 202, 16, 0.74);
    border:1px rgb(248, 248, 248) double;
    padding: 0% 0;
} */
#api img{
    border-radius:70px;
    
    width: 15%;
    /* margin-top: 100px; */
    transition: width 1s, height 1s, transform 1s;
}
